h1 {
    color: black;
}

#cardOverlay {
    /* justify-content: center;
    flex-direction: column; */
    /* align-items: center; */
    font-size: calc(6px + 2vmin);
    padding: 2%;
    margin-top: 90%;
    /* position: -webkit-sticky;
    position: sticky;
    position: fixed; */
}

#likeIcon{
    height: 32px;
    width: 32px;
    fill: red;
    stroke: red;
}

#commIcon{
    fill: red;
    stroke: red;
    height: 28px;
    width: 28px;
}

#mapIcon{
    fill: red;
    stroke: red;
    height: 28px;
    width: 28px;
}
/* #post {
    padding-bottom: 30px;
} */
